* {
    box-sizing: border-box;
}

/* :root {
    --primary-color: #2E80CE;
} */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
    
}